[submodule ".registry"]
	path = .registry
	url = https://github.com/markpaulin/markpaulin.r-universe.dev
	branch = HEAD
[submodule "nisrarr"]
	path = nisrarr
	url = https://github.com/MarkPaulin/nisrarr
